@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brandblue: rgb(97 134 182);
  --color-brandcoral: rgb(242 123 99);
  
  /* Настройка шрифтов */
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Стили для анимации переключения темы */
.theme-transition,
.theme-transition *,
.theme-transition *::before,
.theme-transition *::after {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Убираем перемигивание при переключении темы */
.theme-transition [class*="transition"] {
  transition-property: transform, opacity, visibility;
}
